* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.container {
    width: 960px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    height: 50px;
    background: #6f5499;
}

.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}

ul.nav {
    height: 50px;
    display: inline-block;
    list-style: none;
}

.nav li {
    display: inline;
    height: 50px;
    padding: 5px;
}

.nav a,
.nav a:visited {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.show h1 {
    font-size: 45px;
}

.favorite,
.favorite:visited {
    color: #c7254e;
    text-decoration: none;
}

.season h2 {
    font-size: 30px;
}

.episode h3 {
    font-size: 20px;
}