{% extends 'layout.html' %}
{% block body %}
    <div class="show">
        <h1>{{ show.title }}</h1>
        <p>{{ show.description }}</p>

        {% for season in range(show.season_count) %}
            <div class="season">
                <h2>Season {{ season + 1 }}</h2>
                {% for episode in seasons[season + 1] %}
                    <div class="episode">
                        <h3>{{ episode.title }}</h3>
                        <p>{{ episode.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}