{% extends 'layout.html' %}
{% block body %}
    <div class="show">
        <h1>{{ show.title }}</h1>
        {% if favorited %}
            <a href="{{url_for('show_unfavorite', show_id=show.public_id)}}"><span class="fa fa-heart favorite"></span></a>
        {% else %}
            <a href="{{url_for('show_favorite', show_id=show.public_id)}}"><span class="fa fa-heart-o favorite"></span></a>
        {% endif %}
        
        {% if watching %}
            <span class="fa fa-play-circle watching">&nbsp;Watching</span>
        {% else %}
            <a href="{{url_for('show_start', show_id=show.public_id)}}"><span class="fa fa-play-circle watching start"></span></a>
        {% endif %}
        <p>{{ show.description }}</p>

        {% for season in range(show.season_count) %}
            <div class="season">
                <h2>Season {{ season + 1 }}</h2>
                {% for episode in seasons[season + 1] %}
                    <div class="episode">
                        <h3>{{ episode.title }}</h3>
                        <p>{{ episode.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}